.parent{
   display: flex;
  justify-content: space-between;  
  align-items: center;             
  padding: 10px 20px;              
  background: #ffffff;             
  border-bottom: 1px solid #ddd;   
}
 
.left{
  display: flex;
  align-items: center;
  gap: 8px;
}

.right{
  display: flex;
  align-items: center;
  gap: 10px;
  background: #f9fdfc;   
  padding: 5px 10px;
  border-radius: 25px; 
} 

.hero{
 display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: undefined;
padding: 12px 60px 12px 60px ;
background: linear-gradient(90.00deg, rgba(1.251827359199524, 49.64006805419922, 34.606834411621094, 1),rgba(0, 103, 71, 1) 50%,rgba(1, 50, 35, 1) 100%);  
}

.main{
   display: grid;
      grid-template-columns: 1fr 300px; 
      gap: 20px;
      background-color:rgba(0, 128, 0, 0.171);
}

.card_section{
  display: grid;
      grid-template-columns: repeat(3, 1fr); 
      gap: 20px;
}

.card{
   background: #fff;
      border: 12px;
      padding: 32px;
      border-radius: 12px;
      box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.number{
  color: rgba(17, 17, 17, 1);

font-family: Roboto;
font-size: 32px;
font-weight: 700;
line-height: 100%;
letter-spacing: 0%;
text-align: left;
}

.actions{
     display: flex;

justify-content: space-between;
align-items: center;
}

.copy-btn{
   
padding:  16px 50px;
border: 1px solid  rgba(212, 214, 213, 1);
border-radius: 8px;
background:  rgba(255, 255, 255, 1);
}

.call-btn{
    
padding: 16px 50px;
border-radius: 8px;
background:  rgba(0, 166, 62, 1);
}
  
.history{
    display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 24px;
border-radius: 12px;
box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
background:  rgba(255, 255, 255, 1);
}

.history-header{
  display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}

@media (max-width: 1024px) {
  .card-section {
    grid-template-columns: repeat(2, 1fr); /* 2 cards */
  }
}

/* 📱 Mobile Responsiveness */
@media (max-width: 768px) {
  .main-layout {
    grid-template-columns: 1fr; /* history stacks below */
  }
  .card-section {
    grid-template-columns: 1fr; /* single column cards */
  }
  .history-section {
    min-width: auto;
  }
}